/* import voor nieuwe font-variabelen */
@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Roboto&display=swap");
/* variabelen voor de fonts */
/* variabelen voor de kleuren */
/* breekpunt instellen voor van mobile naar screen */
/* via een universele selector gaan we alles aanspreken */
* {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 2rem;
  color: #1D2F2A;
}

body {
  background-color: #FFFFFF;
}

.active {
  border: 2px solid #FFFFFF;
  border-radius: 20px;
}

/* BUTTONS */
/* Downloadknopjes */
.download {
  border: 2px solid #F5DC4F;
  border-radius: 30px;
  padding-left: 24px;
  padding-right: 24px;
  color: #1D2F2A;
  padding-top: 6px;
  padding-bottom: 6px;
}

.download:hover {
  background-color: #FEF9C7;
  color: #FFFFFF;
  text-decoration: none;
}

.download:active {
  background-color: #116466;
}

/* Lees meer knopjes */
.leesmeer {
  border: 2px solid #F5DC4F;
  background-color: #F5DC4F;
  padding-left: 24px;
  padding-right: 24px;
  color: #FFFFFF;
  padding-top: 6px;
  padding-bottom: 6px;
}

.leesmeer:hover {
  border: 2px solid #FEF9C7;
  background-color: #FEF9C7;
  color: #F5DC4F;
  text-decoration: none;
}

.leesmeer:active {
  background-color: #116466;
  border: 2px solid #116466;
  color: #FFFFFF;
}

/* Projecten knopjes */
.projecten {
  border: 2px solid #F5DC4F;
  background-color: #F5DC4F;
  padding-left: 24px;
  padding-right: 24px;
  color: #FFFFFF;
  padding-top: 6px;
  padding-bottom: 6px;
}

.projecten:hover {
  border: 2px solid #FEF9C7;
  background-color: #FEF9C7;
  color: #F5DC4F;
  text-decoration: none;
}

.projecten:active {
  background-color: #116466;
  border: 2px solid #116466;
  color: #FFFFFF;
}

/* Website knopjes */
.website {
  border: 2px solid #F5DC4F;
  background-color: #F5DC4F;
  padding-left: 24px;
  padding-right: 24px;
  color: #FFFFFF;
  padding-top: 6px;
  padding-bottom: 6px;
}

.website:hover {
  border: 2px solid #FEF9C7;
  background-color: #FEF9C7;
  color: #F5DC4F;
  text-decoration: none;
}

.website:active {
  background-color: #116466;
  border: 2px solid #116466;
  color: #FFFFFF;
}

/* Terug knopjes */
.terug {
  margin-left: 24px;
  color: #116466;
  font-style: italic;
}

.terug:hover {
  border-bottom: solid 3px #F5DC4F;
  color: #116466;
  text-decoration: none;
  font-style: normal;
}

.terug:active {
  background-color: #F5DC4F;
  border: 2px solid #F5DC4F;
  color: #116466;
}

.fa-chevron-left {
  color: #116466;
}

.container-terug {
  padding-top: 18px;
}

.container-terug-fl {
  background-color: #D1E8E2;
}

/* Branding knopjes */
.branding-knop {
  border: 2px solid #F5DC4F;
  background-color: #F5DC4F;
  padding-left: 24px;
  padding-right: 24px;
  color: #FFFFFF;
  padding-top: 6px;
  padding-bottom: 6px;
}

.branding-knop:hover {
  border: 2px solid #FEF9C7;
  background-color: #FEF9C7;
  color: #F5DC4F;
  text-decoration: none;
}

.branding-knop:active {
  background-color: #116466;
  border: 2px solid #116466;
  color: #FFFFFF;
}

/* LIJNEN */
/* LIJN 5 */
.image-lijn5 {
  padding-left: 36%;
  padding-right: 18%;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .image-lijn5 {
    padding-left: 42%;
    padding-right: 28%;
  }
}

@media (min-width: 768px) {
  .image-lijn5 {
    padding-left: 44%;
    padding-right: 30%;
  }
}

@media (min-width: 992px) {
  .image-lijn5 {
    padding-left: 45%;
    padding-right: 32%;
  }
}

@media (min-width: 1200px) {
  .image-lijn5 {
    padding-left: 52%;
    padding-right: 50%;
  }
}

/* LIJN 6 */
.image-lijn6 {
  padding-left: 40%;
  padding-right: 22%;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .image-lijn6 {
    padding-left: 42%;
    padding-right: 32%;
  }
}

@media (min-width: 768px) {
  .image-lijn5 {
    padding-left: 45%;
    padding-right: 37%;
  }
}

@media (min-width: 992px) {
  .image-lijn6 {
    padding-left: 45%;
    padding-right: 37%;
  }
}

@media (min-width: 1200px) {
  .image-lijn6 {
    padding-left: 45%;
    padding-right: 38%;
  }
}

/* LIJN 7 */
.image-lijn7 {
  padding-left: 30%;
  padding-right: 14%;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .image-lijn7 {
    padding-left: 38%;
    padding-right: 27%;
  }
}

@media (min-width: 768px) {
  .image-lijn7 {
    padding-left: 41%;
    padding-right: 32%;
  }
}

@media (min-width: 992px) {
  .image-lijn7 {
    padding-left: 43%;
    padding-right: 36%;
  }
}

@media (min-width: 1200px) {
  .image-lijn7 {
    padding-left: 44%;
    padding-right: 38%;
  }
}

/* LIJN 8 */
.image-lijn8 {
  padding-left: 36%;
  padding-right: 20%;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .image-lijn8 {
    padding-left: 36%;
    padding-right: 22%;
  }
}

@media (min-width: 768px) {
  .image-lijn8 {
    padding-left: 40%;
    padding-right: 28%;
  }
}

@media (min-width: 992px) {
  .image-lijn8 {
    padding-left: 43%;
    padding-right: 32%;
  }
}

@media (min-width: 1200px) {
  .image-lijn8 {
    padding-left: 43%;
    padding-right: 37%;
  }
}

/* LIJN 9 */
.image-lijn9 {
  padding-left: 33%;
  padding-right: 16%;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .image-lijn9 {
    padding-left: 34%;
    padding-right: 20%;
  }
}

@media (min-width: 768px) {
  .image-lijn9 {
    padding-left: 39%;
    padding-right: 29%;
  }
}

@media (min-width: 992px) {
  .image-lijn9 {
    padding-left: 41%;
    padding-right: 33%;
  }
}

@media (min-width: 1200px) {
  .image-lijn9 {
    padding-left: 43%;
    padding-right: 36%;
  }
}

/* LIJN 14 */
.image-lijn14 {
  padding-left: 24%;
  padding-right: 7%;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .image-lijn14 {
    padding-left: 26%;
    padding-right: 10%;
  }
}

@media (min-width: 768px) {
  .image-lijn14 {
    padding-left: 32%;
    padding-right: 22%;
  }
}

@media (min-width: 992px) {
  .image-lijn14 {
    padding-left: 37%;
    padding-right: 27%;
  }
}

@media (min-width: 1200px) {
  .image-lijn14 {
    padding-left: 39%;
    padding-right: 31%;
  }
}

/* LIJN 16 */
.image-lijn16 {
  padding-left: 20%;
  padding-right: 6%;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .image-lijn16 {
    padding-left: 22%;
    padding-right: 8%;
  }
}

@media (min-width: 768px) {
  .image-lijn16 {
    padding-left: 29%;
    padding-right: 19%;
  }
}

@media (min-width: 992px) {
  .image-lijn16 {
    padding-left: 35%;
    padding-right: 26%;
  }
}

@media (min-width: 1200px) {
  .image-lijn16 {
    padding-left: 38%;
    padding-right: 30%;
  }
}

/* NAVIGATIE */
.navbar-dark {
  background-color: #116466;
}

.navbar-dark a {
  color: #FFFFFF;
  font-size: 16px;
  padding-bottom: 4px;
  padding-right: 12px;
}

.navbar-dark a:hover {
  border-bottom: solid 2px #F5DC4F;
  text-decoration: none;
}

.navbar-dark a:active {
  border-bottom: none;
  text-decoration: none;
  background-color: #F5DC4F;
}

.navbar-dark .navbar-header a {
  color: #FFFFFF;
  font-size: 16px;
  margin-left: 70px;
}

.navbar-dark .navbar-header a:hover {
  border-bottom: none;
  text-decoration: none;
  color: #FFFFFF;
}

.navbar-dark .active {
  border: none;
  background-color: #116466;
}

.navbar-dark .active a {
  color: #F5DC4F;
}

.navbar-dark .dropdown-menu {
  background-color: #D1E8E2;
}

.navbar-dark .dropdown-menu a {
  color: #FFFFFF;
}

.navbar-dark .dropdown-menu a:hover {
  color: #116466;
  background-color: #F5DC4F;
  text-decoration: none;
}

@media (min-width: 576px) {
  .navbar-dark .navbar-header a {
    margin-left: 300px;
    margin-right: 0px;
  }
}

@media (min-width: 768px) {
  .navbar-dark .navbar-header a {
    margin-left: 470px;
    margin-right: 0px;
  }
}

@media (min-width: 992px) {
  .navbar-dark .navbar-header a {
    margin-left: 30px;
    margin-right: 20px;
  }
  .navbar-dark a {
    margin-right: 60px;
  }
}

/* ACHTERGRONDEN */
.portfolio-bg-fl {
  background-image: url("images/bg-gr-r-xs.png");
  min-height: 84px;
  background-size: cover;
  background-position: center bottom;
}

@media (min-width: 576px) {
  .portfolio-bg-fl {
    background-image: url("images/bg-gr-r-s.png");
    min-height: 110px;
  }
}

@media (min-width: 768px) {
  .portfolio-bg-fl {
    background-image: url("images/bg-gr-r-m.png");
    min-height: 130px;
  }
}

@media (min-width: 992px) {
  .portfolio-bg-fl {
    background-image: url("images/bg-gr-r-l.png");
    min-height: 111px;
  }
}

.portfolio-bg-l-fl {
  background-image: url("images/bg-gr-l-xs.png");
  min-height: 78px;
  background-size: cover;
  background-position: center bottom;
}

@media (min-width: 576px) {
  .portfolio-bg-l-fl {
    background-image: url("images/bg-gr-l-s.png");
    min-height: 110px;
  }
}

@media (min-width: 768px) {
  .portfolio-bg-l-fl {
    background-image: url("images/bg-gr-l-m.png");
    min-height: 130px;
  }
}

@media (min-width: 992px) {
  .portfolio-bg-l-fl {
    background-image: url("images/bg-gr-l-l.png");
    min-height: 111px;
  }
}

.portfolio-bg-lgr-r-fl {
  background-image: url("images/bg-lgr-r-xs.png");
  min-height: 74px;
  background-size: cover;
  background-position: center top;
}

@media (min-width: 576px) {
  .portfolio-bg-lgr-r-fl {
    background-image: url("images/bg-lgr-r-s.png");
    min-height: 110px;
  }
}

@media (min-width: 768px) {
  .portfolio-bg-lgr-r-fl {
    background-image: url("images/bg-lgr-r-m.png");
    min-height: 130px;
  }
}

@media (min-width: 992px) {
  .portfolio-bg-lgr-r-fl {
    background-image: url("images/bg-lgr-r-l.png");
    min-height: 111px;
  }
}

.portfolio-bg-lgr-l-fl {
  background-image: url("images/bg-lgr-l-xs.png");
  min-height: 74px;
  background-size: cover;
  background-position: center bottom;
}

@media (min-width: 576px) {
  .portfolio-bg-lgr-l-fl {
    background-image: url("images/bg-lgr-l-s.png");
    min-height: 110px;
  }
}

@media (min-width: 768px) {
  .portfolio-bg-lgr-l-fl {
    background-image: url("images/bg-lgr-l-m.png");
    min-height: 130px;
  }
}

@media (min-width: 992px) {
  .portfolio-bg-lgr-l-fl {
    background-image: url("images/bg-lgr-l-l.png");
    min-height: 111px;
  }
}

/* INDEX */
/* HOME HEADER */
.header-home-fl {
  background-color: #116466;
  color: #FFFFFF;
  padding-left: 50px;
}

.header-home-fl h1 {
  padding-top: 80px;
  font-family: "Dancing script", sans-serif;
  font-size: 60px;
  text-align: center;
  padding-bottom: 0px;
  color: #FFFFFF;
  line-height: 2.4rem;
}

.header-home-fl h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: #F5DC4F;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 576px) {
  .header-home-fl {
    padding-left: 60px;
  }
  .header-home-fl h1 {
    padding-top: 180px;
    font-size: 100px;
    line-height: 4rem;
  }
  .header-home-fl h2 {
    font-size: 24px;
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .header-home-fl {
    padding-top: 40px;
    padding-left: 60px;
  }
  .header-home-fl h1 {
    padding-top: 40px;
    font-size: 110px;
    padding-bottom: 0px;
    text-align: left;
    line-height: 5.4rem;
  }
  .header-home-fl h2 {
    font-size: 18px;
    text-align: left;
    padding-bottom: 0px;
  }
}

@media (min-width: 992px) {
  .header-home-fl {
    padding-top: 40px;
    padding-left: 60px;
  }
  .header-home-fl h1 {
    padding-top: 160px;
    font-size: 96px;
    padding-bottom: 0px;
    text-align: left;
  }
  .header-home-fl h2 {
    font-size: 24px;
    text-align: left;
    padding-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  .header-home-fl {
    padding-top: 40px;
    padding-left: 140px;
  }
  .header-home-fl h1 {
    padding-top: 180px;
    font-size: 110px;
    padding-bottom: 0px;
    text-align: left;
  }
  .header-home-fl h2 {
    font-size: 24px;
    text-align: left;
    padding-bottom: 0px;
  }
}

/* HOME ABOUT */
.about-home {
  padding-top: 70px;
  padding-bottom: 80px;
}

.about-home h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1rem;
  text-align: center;
  font-size: 40px;
  color: #116466;
}

.about-home .contact-text {
  margin-top: 20px;
}

.about-home p {
  font-size: 15px;
  line-height: 1.4rem;
}

@media (min-width: 576px) {
  .about-home p {
    font-size: 18px;
    line-height: 2rem;
  }
}

@media (min-width: 768px) {
  .about-home {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .about-home p {
    font-size: 20px;
    line-height: 2rem;
  }
}

@media (min-width: 992px) {
  .about-home {
    padding-top: 140px;
  }
}

@media (min-width: 1200px) {
  .about-home {
    padding-top: 140px;
  }
}

/* HOME PORTFOLIO*/
.portfolio-home-fl {
  background-color: #D1E8E2;
  margin-top: 0px;
}

.portfolio-home {
  padding-top: 80px;
  padding-bottom: 80px;
}

.portfolio-home h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1rem;
  text-align: center;
  font-size: 40px;
  color: #116466;
}

.portfolio-home .image-lijn2 {
  padding-left: 23%;
  padding-right: 10%;
  margin-bottom: 20px;
}

.portfolio-home .image {
  display: block;
  width: 100%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.portfolio-home .text {
  color: white;
  font-size: 36px;
  text-align: center;
  padding-bottom: 18px;
}

.portfolio-home h3 {
  color: #FFFFFF;
}

.portfolio-home .text:hover {
  text-decoration: none;
}

@media (min-width: 576px) {
  .portfolio-home .image-lijn2 {
    padding-left: 34%;
    padding-right: 22%;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .portfolio-home {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .portfolio-home .image-lijn2 {
    padding-left: 40%;
    padding-right: 32%;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .portfolio-home {
    padding-top: 140px;
  }
  .portfolio-home .image-lijn2 {
    padding-left: 42%;
    padding-right: 34%;
  }
}

@media (min-width: 1200px) {
  .portfolio-home {
    padding-top: 140px;
  }
  .portfolio-home .image-lijn2 {
    padding-left: 43%;
    padding-right: 37%;
  }
}

/* HOME CONTACT*/
.contact-home {
  padding-top: 70px;
  padding-bottom: 80px;
}

.contact-home h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1rem;
  text-align: center;
  font-size: 40px;
  color: #116466;
}

.contact-home .image-lijn2 {
  padding-left: 28%;
  padding-right: 8%;
  margin-bottom: 30px;
}

.contact-home .contact-text {
  margin-top: 20px;
}

.contact-home p {
  font-size: 15px;
  line-height: 1rem;
}

.contact-home a {
  text-decoration: none;
  color: #1D2F2A;
  font-size: 15px;
  line-height: 0rem;
}

.contact-home a:hover {
  border-bottom: solid 2px #F5DC4F;
  text-decoration: none;
}

.contact-home a:active {
  border-bottom: none;
  text-decoration: none;
  background-color: #F5DC4F;
}

@media (min-width: 576px) {
  .contact-home .image-lijn2 {
    padding-left: 38%;
    padding-right: 28%;
    margin-bottom: 20px;
  }
  .contact-home p {
    font-size: 20px;
    line-height: 2rem;
  }
  .contact-home a {
    font-size: 20px;
    line-height: 2rem;
  }
}

@media (min-width: 768px) {
  .contact-home {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .contact-home .image-lijn2 {
    padding-left: 40%;
    padding-right: 32%;
    margin-bottom: 20px;
  }
  .contact-home .contact-text {
    margin-top: 0px;
  }
}

@media (min-width: 992px) {
  .contact-home {
    padding-top: 140px;
  }
  .contact-home .image-lijn2 {
    padding-left: 44%;
    padding-right: 38%;
  }
}

/* ABOUT ME HEADER */
.header-about-fl {
  background-color: #116466;
  color: #FFFFFF;
  padding-top: 90px;
  padding-bottom: 20px;
}

.header-about-fl h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1rem;
  text-align: center;
  font-size: 40px;
  color: #FFFFFF;
}

/* ABOUT ME SPLITSCREEN */
.split-screen {
  margin-top: 80px;
}

@media (min-width: 992px) {
  .left {
    float: left;
    margin: 0 1.5%;
    width: 42%;
  }
  .right {
    float: right;
    margin: 0 1.5%;
    width: 42%;
  }
}

/* ABOUT ME LEFT SCREEN */
.left {
  padding-left: 8%;
}

.left h1 {
  font-family: "Roboto", sans-serif;
  line-height: 2rem;
  text-align: center;
  font-size: 30px;
  color: #116466;
  margin-top: 30px;
}

.left h2 {
  font-family: "Roboto", sans-serif;
  line-height: 1rem;
  text-align: center;
  font-size: 24px;
  color: #1D2F2A;
  margin-bottom: 10px;
}

.left h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1rem;
  text-align: left;
  font-size: 40px;
  color: #116466;
  margin-top: 90px;
}

.left p {
  font-size: 18px;
}

.left .image-lijn-5 {
  padding-left: 6%;
  padding-right: 48%;
  margin-bottom: 20px;
}

.left .image-lijn-7 {
  padding-left: 6%;
  padding-right: 38%;
  margin-bottom: 20px;
}

.left .image-score {
  margin-bottom: 32px;
  margin-top: 10px;
  max-height: 16px;
  padding-left: 20px;
}

.left .image-ops {
  margin-bottom: 32px;
  margin-top: 12px;
  max-height: 16px;
  padding-left: 10px;
}

@media (min-width: 576px) {
  .left p {
    font-size: 20px;
  }
  .left .image-lijn-5 {
    padding-left: 4%;
    padding-right: 67%;
  }
  .left .image-lijn-7 {
    padding-left: 4%;
    padding-right: 60%;
  }
  .left .image-score {
    margin-bottom: 32px;
    margin-top: 10px;
    max-height: 18px;
  }
  .left .image-ops {
    margin-bottom: 32px;
    margin-top: 8px;
    max-height: 20px;
    padding-left: 22px;
  }
}

@media (min-width: 768px) {
  .left .image-lijn-5 {
    padding-left: 4%;
    padding-right: 74%;
  }
  .left .image-lijn-7 {
    padding-left: 4%;
    padding-right: 69%;
  }
  .left .image-score {
    margin-bottom: 32px;
    margin-top: 10px;
    max-height: 18px;
    padding-right: 30px;
  }
  .left .image-ops {
    margin-bottom: 32px;
    margin-top: 8px;
    max-height: 20px;
    padding-left: 40px;
  }
}

@media (min-width: 992px) {
  .left .image-lijn-5 {
    padding-left: 6%;
    padding-right: 52%;
  }
  .left .image-lijn-7 {
    padding-left: 6%;
    padding-right: 40%;
  }
  .left .image-score {
    margin-bottom: 32px;
    margin-top: 9px;
    max-height: 18px;
    padding-left: 20px;
  }
  .left .image-ops {
    margin-bottom: 32px;
    margin-top: 8px;
    max-height: 20px;
    padding-left: 16px;
  }
}

@media (min-width: 1200px) {
  .left .image-lijn-5 {
    padding-left: 6%;
    padding-right: 60%;
  }
  .left .image-lijn-7 {
    padding-left: 6%;
    padding-right: 50%;
  }
  .left .image-score {
    margin-bottom: 32px;
    margin-top: 10px;
    max-height: 18px;
  }
  .left .image-ops {
    margin-bottom: 32px;
    margin-top: 8px;
    max-height: 20px;
    padding-left: 36px;
  }
}

/* ABOUT ME RIGHT SCREEN */
.right {
  padding-left: 8%;
  padding-right: 6%;
}

.right h1 {
  font-family: "Roboto", sans-serif;
  line-height: 2rem;
  text-align: left;
  font-size: 18px;
  color: #1D2F2A;
  margin-top: 30px;
  margin-bottom: 10px;
}

.right h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1rem;
  text-align: left;
  font-size: 40px;
  color: #116466;
  margin-top: 90px;
}

.right p {
  font-size: 16px;
}

.right .image-lijn-6 {
  padding-left: 6%;
  padding-right: 45%;
  margin-bottom: 20px;
}

.right .image-lijn-8 {
  padding-left: 6%;
  padding-right: 14%;
  margin-bottom: 20px;
}

.right .image-score {
  margin-bottom: 34px;
  margin-top: 17px;
}

.right .image-soft {
  margin-bottom: 33px;
  margin-top: 10px;
  max-height: 40px;
}

@media (min-width: 576px) {
  .right .image-lijn-6 {
    padding-left: 4%;
    padding-right: 65%;
  }
  .right .image-lijn-8 {
    padding-left: 4%;
    padding-right: 40%;
  }
  .right .image-soft {
    margin-bottom: 33px;
    margin-top: 10px;
    max-height: 43px;
  }
  .right .image-score {
    margin-bottom: 30px;
    margin-top: 14px;
  }
  .right h1 {
    font-size: 20px;
  }
  .right p {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .right .image-lijn-6 {
    padding-left: 4%;
    padding-right: 72%;
  }
  .right .image-lijn-8 {
    padding-left: 4%;
    padding-right: 55%;
  }
  .right .image-score {
    margin-bottom: 28px;
    margin-top: 13px;
    max-width: 250px;
  }
  .right .image-soft {
    margin-bottom: 33px;
    margin-top: 10px;
    max-height: 50px;
  }
  .right p {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .right {
    padding-left: 0%;
  }
  .right .image-lijn-6 {
    padding-left: 6%;
    padding-right: 56%;
  }
  .right .image-lijn-8 {
    padding-left: 6%;
    padding-right: 28%;
  }
  .right .image-score {
    margin-bottom: 34px;
    margin-top: 14px;
  }
  .right p {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .right .image-lijn-6 {
    padding-left: 6%;
    padding-right: 60%;
  }
  .right .image-lijn-8 {
    padding-left: 6%;
    padding-right: 36%;
  }
  .right .image-score {
    margin-bottom: 31px;
    margin-top: 14px;
  }
  .right p {
    font-size: 20px;
  }
}

/* ABOUT ME TIMELINE */
.portfolio-bg-lgr-r-fl {
  clear: both;
}

.about-tijdlijn-fl {
  background-color: #D1E8E2;
}

.about-tijdlijn-titel {
  padding-top: 40px;
  padding-bottom: 50px;
}

.about-tijdlijn-titel h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1rem;
  text-align: center;
  font-size: 40px;
  color: #FFFFFF;
}

.about-tijdlijn-titel .image-lijn8 {
  padding-left: 32%;
  padding-right: 14%;
  margin-bottom: 20px;
}

.about-tijdlijn-sm {
  padding-bottom: 80px;
}

.about-tijdlijn-sm h2 {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 20px;
  line-height: 1rem;
  color: #FFFFFF;
}

.about-tijdlijn-sm p {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 17px;
  color: #1D2F2A;
  line-height: 1.2rem;
  padding-top: 20px;
}

.about-tijdlijn-sm h5 {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 16px;
  font-style: italic;
  color: #1D2F2A;
  padding-top: 0px;
  padding-bottom: 80px;
  line-height: 1.2rem;
}

.about-tijdlijn-sm .image-tijdlijn {
  max-width: 6px;
  height: 100%;
  padding-top: 16px;
}

@media (min-width: 576px) {
  .about-tijdlijn-sm h2 {
    font-size: 28px;
  }
  .about-tijdlijn-sm p {
    font-size: 22px;
    line-height: 1rem;
  }
  .about-tijdlijn-sm h5 {
    font-size: 20px;
    line-height: 1.5rem;
  }
  .about-tijdlijn-sm .image-tijdlijn {
    max-width: 6px;
    padding-top: 16px;
  }
  .about-tijdlijn-titel .image-lijn8 {
    padding-left: 38%;
    padding-right: 26%;
  }
}

@media (min-width: 768px) {
  .about-tijdlijn {
    padding-bottom: 120px;
  }
  .about-tijdlijn .text {
    margin-top: 74px;
  }
  .about-tijdlijn p {
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-size: 17px;
    color: #1D2F2A;
    line-height: 0rem;
  }
  .about-tijdlijn h5 {
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-size: 14px;
    font-style: italic;
    color: #1D2F2A;
    padding-bottom: 49px;
    line-height: 1.1rem;
  }
  .about-tijdlijn .image-tijdlijn {
    max-width: 410px;
    padding-top: 16px;
  }
  .about-tijdlijn-titel .image-lijn8 {
    padding-left: 42%;
    padding-right: 32%;
  }
}

@media (min-width: 992px) {
  .about-tijdlijn-titel .image-lijn {
    padding-left: 44%;
    padding-right: 38%;
  }
  .about-tijdlijn .text {
    margin-top: 79px;
  }
  .about-tijdlijn .image-tijdlijn {
    max-width: 420px;
    padding-top: 16px;
    padding-left: 10px;
  }
  .about-tijdlijn p {
    font-size: 22px;
    line-height: 1rem;
  }
  .about-tijdlijn h5 {
    font-size: 19px;
    padding-bottom: 45px;
    line-height: 1.5rem;
  }
  .about-tijdlijn-titel .image-lijn8 {
    padding-left: 44%;
    padding-right: 34%;
  }
}

@media (min-width: 1200px) {
  .about-tijdlijn-titel .image-lijn8 {
    padding-left: 46%;
    padding-right: 37%;
  }
  .about-tijdlijn .text {
    margin-top: 86px;
  }
  .about-tijdlijn .image-tijdlijn {
    max-width: 470px;
    padding-top: 16px;
  }
  .about-tijdlijn p {
    font-size: 24px;
    line-height: 1rem;
  }
  .about-tijdlijn h5 {
    font-size: 20px;
    padding-bottom: 62px;
    line-height: 1.5rem;
  }
}

/* WEBDESIGN */
.webdesign {
  padding-top: 80px;
  padding-bottom: 160px;
}

.webdesign h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1rem;
  text-align: center;
  font-size: 30px;
  color: #116466;
}

.webdesign .image-lijn2 {
  padding-left: 28%;
  padding-right: 8%;
  margin-bottom: 20px;
}

.webdesign .webdesign-images {
  padding-top: 50px;
  margin-bottom: 50px;
}

.webdesign .image {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.webdesign p {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  color: #1D2F2A;
  font-style: italic;
}

@media (min-width: 576px) {
  .webdesign h3 {
    font-size: 40px;
  }
  .webdesign .image-lijn2 {
    padding-left: 36%;
    padding-right: 24%;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .webdesign {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .webdesign .image-lijn2 {
    padding-left: 40%;
    padding-right: 30%;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .webdesign {
    padding-top: 80px;
    padding-bottom: 160px;
  }
  .webdesign .image-lijn2 {
    padding-left: 44%;
    padding-right: 36%;
    margin-bottom: 20px;
  }
  .webdesign p {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: #1D2F2A;
    font-style: italic;
  }
}

/* Website Pegasus */
.pegasus-fl {
  background-color: #f3f3f3;
}

.pegasus-images {
  padding-bottom: 120px;
}

.pegasus-images .image {
  padding-top: 40px;
}

/* BRANDING */
.branding {
  padding-top: 80px;
  padding-bottom: 90px;
}

.branding h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1rem;
  text-align: center;
  font-size: 30px;
  color: #116466;
}

.branding .image-lijn {
  padding-left: 28%;
  padding-right: 14%;
  margin-bottom: 20px;
}

.branding .branding-images {
  padding-top: 50px;
  margin-bottom: 50px;
}

.branding .image {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 24px;
}

.branding p {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #1D2F2A;
  font-style: italic;
}

@media (min-width: 576px) {
  .branding h3 {
    font-size: 40px;
  }
  .branding .image-lijn {
    padding-left: 36%;
    padding-right: 24%;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .branding {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .branding .image-lijn {
    padding-left: 40%;
    padding-right: 30%;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .branding {
    padding-top: 80px;
    padding-bottom: 160px;
  }
  .branding .image-lijn {
    padding-left: 44%;
    padding-right: 36%;
    margin-bottom: 20px;
  }
  .branding p {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: #1D2F2A;
    font-style: italic;
  }
}

/* CARROUSEL BRANDING */
.slides-fl {
  background-color: #D1E8E2;
  padding-top: 50px;
  padding-bottom: 80px;
}

.carousel-indicators li {
  background-color: #D1E8E2;
}

.carousel-indicators .active {
  background-color: #D1E8E2;
}

.carousel-control-prev:hover {
  background-color: #116466;
  opacity: 0.1;
}

.carousel-control-next:hover {
  background-color: #116466;
  opacity: 0.1;
}

.carousel {
  overflow: hidden;
  border: none;
}

.carousel-inner {
  border-radius: 0px;
  background-color: #D1E8E2;
}

.carousel-inner .active {
  border-radius: 0px;
}

.carousel-inner .d-block {
  border-radius: 0px;
}

.inner-za {
  background-color: white;
}

/* EDITORIAL DESIGN */
.editorial {
  padding-top: 80px;
  padding-bottom: 80px;
}

.editorial h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1rem;
  text-align: center;
  font-size: 30px;
  color: #116466;
}

.editorial .image-lijn2 {
  padding-left: 8%;
  padding-right: 0%;
  margin-bottom: 20px;
}

.editorial .editorial-images {
  padding-top: 50px;
  margin-bottom: 50px;
}

.editorial .image {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 12px;
}

.editorial h4 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #1D2F2A;
  font-style: italic;
  padding-top: 10px;
  margin-bottom: 8px;
}

.editorial p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #116466;
  line-height: 1.7rem;
}

.editorial h5 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #116466;
  line-height: 0.3rem;
  padding-bottom: 8px;
}

@media (min-width: 576px) {
  .editorial h3 {
    font-size: 40px;
  }
  .editorial .image-lijn2 {
    padding-left: 22%;
    padding-right: 8%;
  }
  .editorial h4 {
    font-size: 26px;
  }
  .editorial p {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .editorial .image-lijn2 {
    padding-left: 32%;
    padding-right: 20%;
  }
  .editorial h4 {
    font-size: 26px;
  }
  .editorial p {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .editorial .image-lijn2 {
    padding-left: 36%;
    padding-right: 28%;
  }
  .editorial .image {
    padding-top: 24px;
  }
}

@media (min-width: 1200px) {
  .editorial .image-lijn2 {
    padding-left: 40%;
    padding-right: 30%;
  }
  .editorial .editorial-images {
    padding-top: 90px;
  }
  .editorial .image {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 18px;
  }
  .editorial h4 {
    font-size: 30px;
  }
  .editorial p {
    font-size: 20px;
  }
}

/* GRAPHIC DESIGN */
.graphic {
  padding-top: 80px;
  padding-bottom: 80px;
}

.graphic h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1rem;
  text-align: center;
  font-size: 30px;
  color: #116466;
}

.graphic .image-lijn2 {
  padding-left: 10%;
  padding-right: 0%;
  margin-bottom: 20px;
}

.graphic .graphic-images {
  padding-top: 16px;
}

.graphic .image {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 52px;
  padding-bottom: 12px;
}

.graphic p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: italic;
  color: #116466;
  padding-bottom: 18px;
}

@media (min-width: 576px) {
  .graphic h3 {
    font-size: 40px;
  }
  .graphic .image-lijn2 {
    padding-left: 27%;
    padding-right: 14%;
  }
  .graphic .graphic-images {
    padding-top: 20px;
  }
  .graphic p {
    font-size: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .graphic .image-lijn2 {
    padding-left: 34%;
    padding-right: 22%;
  }
  .graphic p {
    font-size: 20px;
    line-height: 1.5rem;
  }
}

@media (min-width: 992px) {
  .graphic .image-lijn2 {
    padding-left: 40%;
    padding-right: 30%;
    margin-bottom: 20px;
  }
  .graphic .graphic-images {
    padding-top: 40px;
  }
  .graphic p {
    font-size: 20px;
  }
}

/* FOOTER */
.page-footer {
  background-color: #116466;
  padding-top: 10px;
}

.page-footer p {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-size: 12px;
  padding-bottom: 10px;
  text-align: center;
  padding-top: 20px;
}

@media (min-width: 576px) {
  .page-footer p {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .page-footer {
    padding-top: 25px;
  }
  .page-footer .img {
    height: 80px;
    width: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .page-footer p {
    font-size: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: 992px) {
  .page-footer .img {
    height: 84px;
    width: auto;
    padding-left: 10px;
    padding-top: 15px;
  }
  .page-footer p {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */