/* import voor nieuwe font-variabelen */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto&display=swap');

/* variabelen voor de fonts */
$fontset1: 'Dancing script',
sans-serif;
$fontset2: 'Roboto',
sans-serif;

/* variabelen voor de kleuren */
$colorDY: #F5DC4F;
$colorLY: #FEF9C7;
$colorW: #FFFFFF;
$colorB: #1D2F2A;
$colorDG: #116466;
$colorLG: #D1E8E2;

/* breekpunt instellen voor van mobile naar screen */
$breekpunt: 576px;
$breekpuntsm: 768px;
$breekpuntmd: 992px;
$breekpuntlg: 1200px;

/* via een universele selector gaan we alles aanspreken */
* {
    font-family: $fontset2;
    font-size: 20px;
    line-height: 2rem;
    color: $colorB;
}

body {
    background-color: $colorW;
}

.active {
    border: 2px solid $colorW;
    border-radius: 20px;
}

/* BUTTONS */

/* Downloadknopjes */
.download {
    border: 2px solid $colorDY;
    border-radius: 30px;
    padding-left: 24px;
    padding-right: 24px;
    color: $colorB;
    padding-top: 6px;
    padding-bottom: 6px;
}

.download:hover {
    background-color: $colorLY;
    color: $colorW;
    text-decoration: none;
}

.download:active {
    background-color: $colorDG;
}

/* Lees meer knopjes */
.leesmeer {
    border: 2px solid $colorDY;
    background-color: $colorDY;
    padding-left: 24px;
    padding-right: 24px;
    color: $colorW;
    padding-top: 6px;
    padding-bottom: 6px;
}

.leesmeer:hover {
    border: 2px solid $colorLY;
    background-color: $colorLY;
    color: $colorDY;
    text-decoration: none;
}

.leesmeer:active {
    background-color: $colorDG;
    border: 2px solid $colorDG;
    color: $colorW;
}

/* Projecten knopjes */
.projecten {
    border: 2px solid $colorDY;
    background-color: $colorDY;
    padding-left: 24px;
    padding-right: 24px;
    color: $colorW;
    padding-top: 6px;
    padding-bottom: 6px;
}

.projecten:hover {
    border: 2px solid $colorLY;
    background-color: $colorLY;
    color: $colorDY;
    text-decoration: none;
}

.projecten:active {
    background-color: $colorDG;
    border: 2px solid $colorDG;
    color: $colorW;
}

/* Website knopjes */
.website {
    border: 2px solid $colorDY;
    background-color: $colorDY;
    padding-left: 24px;
    padding-right: 24px;
    color: $colorW;
    padding-top: 6px;
    padding-bottom: 6px;
}

.website:hover {
    border: 2px solid $colorLY;
    background-color: $colorLY;
    color: $colorDY;
    text-decoration: none;
}

.website:active {
    background-color: $colorDG;
    border: 2px solid $colorDG;
    color: $colorW;
}

/* Terug knopjes */
.terug {
    margin-left: 24px;
    color: $colorDG;
    font-style: italic;
}

.terug:hover {
    border-bottom: solid 3px $colorDY;
    color: $colorDG;
    text-decoration: none;
    font-style: normal;
}

.terug:active {
    background-color: $colorDY;
    border: 2px solid $colorDY;
    color: $colorDG;
}

.fa-chevron-left {
    color: $colorDG;
}

.container-terug {
    padding-top: 18px;
}

.container-terug-fl {
    background-color: $colorLG;
}

/* Branding knopjes */
.branding-knop {
    border: 2px solid $colorDY;
    background-color: $colorDY;
    padding-left: 24px;
    padding-right: 24px;
    color: $colorW;
    padding-top: 6px;
    padding-bottom: 6px;
}

.branding-knop:hover {
    border: 2px solid $colorLY;
    background-color: $colorLY;
    color: $colorDY;
    text-decoration: none;
}

.branding-knop:active {
    background-color: $colorDG;
    border: 2px solid $colorDG;
    color: $colorW;
}

/* NAVIGATIE */
.navbar-dark {
    background-color: $colorDG;

    a {
        color: $colorW;
        font-size: 16px;
        padding-bottom: 4px;
        padding-right: 12px;
    }

    a:hover {
        border-bottom: solid 2px $colorDY;
        text-decoration: none;
    }

    a:active {
        border-bottom: none;
        text-decoration: none;
        background-color: $colorDY;
    }

    .navbar-header {
        a {
            color: $colorW;
            font-size: 16px;
            margin-left: 70px;
        }


        a:hover {
            border-bottom: none;
            text-decoration: none;
            color: $colorW;
        }

    }

    .active {
        border: none;
        background-color: $colorDG;

        a {
            color: $colorDY;
        }
    }

    .dropdown-menu {
        background-color: $colorLG;

        a {
            color: $colorW;
        }

        a:hover {
            color: $colorDG;
            background-color: $colorDY;
            text-decoration: none;
        }
    }
}

@media(min-width:$breekpunt) {
    .navbar-dark .navbar-header a {
        margin-left: 300px;
        margin-right: 0px;
    }
}

@media(min-width:$breekpuntsm) {
    .navbar-dark .navbar-header a {
        margin-left: 470px;
        margin-right: 0px;
    }
}

@media(min-width:$breekpuntmd) {
    .navbar-dark .navbar-header a {
        margin-left: 30px;
        margin-right: 20px;
    }

    .navbar-dark {
        a {
            margin-right: 60px;
        }

    }
}

/* ACHTERGRONDEN */

.portfolio-bg-fl {
    background-image: url("images/bg-gr-r-xs.png");
    min-height: 84px;
    background-size: cover;
    background-position: center top;

    @media(min-width:$breekpunt) {
        background-image: url("images/bg-gr-r-s.png");
        min-height: 110px;
    }

    @media(min-width:$breekpuntsm) {
        background-image: url("images/bg-gr-r-m.png");
        min-height: 130px;
    }

    @media(min-width:$breekpuntmd) {
        background-image: url("images/bg-gr-r-l.png");
        min-height: 111px;
    }
}

.portfolio-bg-l-fl {
    background-image: url("images/bg-gr-l-xs.png");
    min-height: 78px;
    background-size: cover;
    background-position: center top;

    @media(min-width:$breekpunt) {
        background-image: url("images/bg-gr-l-s.png");
        min-height: 110px;
    }

    @media(min-width:$breekpuntsm) {
        background-image: url("images/bg-gr-l-m.png");
        min-height: 130px;
    }

    @media(min-width:$breekpuntmd) {
        background-image: url("images/bg-gr-l-l.png");
        min-height: 111px;
    }
}

.portfolio-bg-lgr-r-fl {
    background-image: url("images/bg-lgr-r-xs.png");
    min-height: 74px;
    background-size: cover;
    background-position: center top;

    @media(min-width:$breekpunt) {
        background-image: url("images/bg-lgr-r-s.png");
        min-height: 110px;
    }

    @media(min-width:$breekpuntsm) {
        background-image: url("images/bg-lgr-r-m.png");
        min-height: 130px;
    }

    @media(min-width:$breekpuntmd) {
        background-image: url("images/bg-lgr-r-l.png");
        min-height: 111px;
    }
}

.portfolio-bg-lgr-l-fl {
    background-image: url("images/bg-lgr-l-xs.png");
    min-height: 74px;
    background-size: cover;
    background-position: center bottom;

    @media(min-width:$breekpunt) {
        background-image: url("images/bg-lgr-l-s.png");
        min-height: 110px;
    }

    @media(min-width:$breekpuntsm) {
        background-image: url("images/bg-lgr-l-m.png");
        min-height: 130px;
    }

    @media(min-width:$breekpuntmd) {
        background-image: url("images/bg-lgr-l-l.png");
        min-height: 111px;
    }
}

/* INDEX */

/* HOME HEADER */
.header-home-fl {
    background-color: $colorDG;
    color: $colorW;
    padding-left: 50px;

    h1 {
        padding-top: 80px;
        font-family: $fontset1;
        font-size: 60px;
        text-align: center;
        padding-bottom: 0px;
        color: $colorW;
        line-height: 2.4rem;
    }

    h2 {
        font-family: $fontset2;
        font-size: 20px;
        font-style: italic;
        text-align: center;
        color: $colorDY;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media(min-width:$breekpunt) {
    .header-home-fl {
        padding-left: 60px;


        h1 {
            padding-top: 180px;
            font-size: 100px;
            line-height: 4rem;
        }

        h2 {
            font-size: 24px;
            padding-bottom: 40px;
        }
    }
}

@media(min-width:$breekpuntsm) {
    .header-home-fl {
        padding-top: 40px;
        padding-left: 60px;

        h1 {
            padding-top: 40px;
            font-size: 110px;
            padding-bottom: 0px;
            text-align: left;
            line-height: 5.4rem;
        }

        h2 {
            font-size: 18px;
            text-align: left;
            padding-bottom: 0px;
        }
    }
}

@media(min-width:$breekpuntmd) {
    .header-home-fl {
        padding-top: 40px;
        padding-left: 60px;

        h1 {
            padding-top: 160px;
            font-size: 96px;
            padding-bottom: 0px;
            text-align: left;
        }

        h2 {
            font-size: 24px;
            text-align: left;
            padding-bottom: 0px;
        }
    }
}

@media(min-width:$breekpuntlg) {
    .header-home-fl {
        padding-top: 40px;
        padding-left: 140px;

        h1 {
            padding-top: 180px;
            font-size: 110px;
            padding-bottom: 0px;
            text-align: left;
        }

        h2 {
            font-size: 24px;
            text-align: left;
            padding-bottom: 0px;
        }
    }
}


/* HOME ABOUT */

.about-home {
    padding-top: 70px;
    padding-bottom: 80px;

    h3 {
        font-family: $fontset2;
        font-weight: 600;
        line-height: 1rem;
        text-align: center;
        font-size: 40px;
        color: $colorDG;
    }

    .image-lijn {
        padding-left: 34%;
        padding-right: 22%;
        margin-bottom: 30px;
    }

    .contact-text {
        margin-top: 20px;
    }

    p {
        font-size: 15px;
        line-height: 1.4rem;
    }

}

@media(min-width:$breekpunt) {
    .about-home {
        .image-lijn {
            padding-left: 42%;
            padding-right: 32%;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            line-height: 2rem;
        }
    }
}

@media(min-width:$breekpuntsm) {
    .about-home {
        padding-top: 100px;
        padding-bottom: 100px;

        .image-lijn {
            padding-left: 45%;
            padding-right: 37%;
            margin-bottom: 20px;
        }

        p {
            font-size: 20px;
            line-height: 2rem;
        }
    }
}

@media(min-width:$breekpuntmd) {
    .about-home {
        padding-top: 140px;

        .image-lijn {
            padding-left: 44%;
            padding-right: 38%;
        }
    }
}

@media(min-width:$breekpuntlg) {
    .about-home {
        padding-top: 140px;

        .image-lijn {
            padding-left: 47%;
            padding-right: 40%;
        }
    }
}

/* HOME PORTFOLIO*/

.portfolio-home-fl {
    background-color: $colorLG;
    margin-top: 0px;
}

.portfolio-home {
    padding-top: 80px;
    padding-bottom: 80px;

    h3 {
        font-family: $fontset2;
        font-weight: 600;
        line-height: 1rem;
        text-align: center;
        font-size: 40px;
        color: $colorDG;
    }

    .image-lijn2 {
        padding-left: 23%;
        padding-right: 10%;
        margin-bottom: 20px;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .text {
        color: white;
        font-size: 36px;
        text-align: center;
        padding-bottom: 18px;
    }

    h3 {
        color: $colorW;
    }

    .text:hover {
        text-decoration: none;
    }

}

@media(min-width:$breekpunt) {
    .portfolio-home {
        .image-lijn2 {
            padding-left: 34%;
            padding-right: 22%;
            margin-bottom: 20px;
        }
    }
}

@media(min-width:$breekpuntsm) {
    .portfolio-home {
        padding-top: 100px;
        padding-bottom: 100px;

        .image-lijn2 {
            padding-left: 40%;
            padding-right: 32%;
            margin-bottom: 20px;
        }

    }
}

@media(min-width:$breekpuntmd) {
    .portfolio-home {
        padding-top: 140px;

        .image-lijn2 {
            padding-left: 42%;
            padding-right: 34%;
        }
    }
}

@media(min-width:$breekpuntlg) {
    .portfolio-home {
        padding-top: 140px;

        .image-lijn2 {
            padding-left: 43%;
            padding-right: 37%;
        }
    }
}

/* HOME CONTACT*/
.contact-home {
    padding-top: 70px;
    padding-bottom: 80px;

    h3 {
        font-family: $fontset2;
        font-weight: 600;
        line-height: 1rem;
        text-align: center;
        font-size: 40px;
        color: $colorDG;
    }

    .image-lijn2 {
        padding-left: 28%;
        padding-right: 8%;
        margin-bottom: 30px;
    }

    .contact-text {
        margin-top: 20px;
    }

    p {
        font-size: 15px;
        line-height: 1rem;
    }

}

@media(min-width:$breekpunt) {
    .contact-home {
        .image-lijn2 {
            padding-left: 38%;
            padding-right: 28%;
            margin-bottom: 20px;
        }

        p {
            font-size: 20px;
            line-height: 2rem;
        }
    }
}

@media(min-width:$breekpuntsm) {
    .contact-home {
        padding-top: 100px;
        padding-bottom: 100px;

        .image-lijn2 {
            padding-left: 40%;
            padding-right: 32%;
            margin-bottom: 20px;
        }

        .contact-text {
            margin-top: 0px;
        }

    }
}

@media(min-width:$breekpuntmd) {
    .contact-home {
        padding-top: 140px;

        .image-lijn2 {
            padding-left: 44%;
            padding-right: 38%;
        }
    }
}

/* WEBDESIGN */

.webdesign {
    padding-top: 80px;
    padding-bottom: 160px;

    h3 {
        font-family: $fontset2;
        font-weight: 600;
        line-height: 1rem;
        text-align: center;
        font-size: 30px;
        color: $colorDG;
    }

    .image-lijn2 {
        padding-left: 28%;
        padding-right: 8%;
        margin-bottom: 20px;
    }

    .webdesign-images {
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
        padding-bottom: 10px;
    }

    p {
        font-family: $fontset2;
        font-size: 28px;
        color: $colorB;
        font-style: italic;
    }
}

@media(min-width:$breekpunt) {
    .webdesign {
        h3 {
            font-size: 40px;
        }

        .image-lijn2 {
            padding-left: 36%;
            padding-right: 24%;
            margin-bottom: 20px;
        }
    }
}

@media(min-width:$breekpuntsm) {
    .webdesign {
        padding-top: 100px;
        padding-bottom: 100px;

        .image-lijn2 {
            padding-left: 40%;
            padding-right: 30%;
            margin-bottom: 20px;
        }
    }
}

@media(min-width:$breekpuntmd) {
    .webdesign {
        padding-top: 80px;
        padding-bottom: 160px;

        .image-lijn2 {
            padding-left: 44%;
            padding-right: 36%;
            margin-bottom: 20px;
        }

        p {
            font-family: $fontset2;
            font-size: 32px;
            color: $colorB;
            font-style: italic;
        }
    }
}

/* Website Pegasus */
.pegasus-fl {
    background-color: rgb(243, 243, 243);
}

.pegasus-images {
    padding-bottom: 120px;

    .image {
        padding-top: 40px;
    }
}

/* BRANDING */

.branding {
    padding-top: 80px;
    padding-bottom: 90px;

    h3 {
        font-family: $fontset2;
        font-weight: 600;
        line-height: 1rem;
        text-align: center;
        font-size: 30px;
        color: $colorDG;
    }

    .image-lijn {
        padding-left: 28%;
        padding-right: 14%;
        margin-bottom: 20px;
    }

    .branding-images {
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
        padding-bottom: 24px;
    }

    p {
        font-family: $fontset2;
        font-size: 30px;
        color: $colorB;
        font-style: italic;
    }
}

@media(min-width:$breekpunt) {
    .branding {
        h3 {
            font-size: 40px;
        }

        .image-lijn {
            padding-left: 36%;
            padding-right: 24%;
            margin-bottom: 20px;
        }
    }
}

@media(min-width:$breekpuntsm) {
    .branding {
        padding-top: 100px;
        padding-bottom: 100px;

        .image-lijn {
            padding-left: 40%;
            padding-right: 30%;
            margin-bottom: 20px;
        }
    }
}

@media(min-width:$breekpuntmd) {
    .branding {
        padding-top: 80px;
        padding-bottom: 160px;

        .image-lijn {
            padding-left: 44%;
            padding-right: 36%;
            margin-bottom: 20px;
        }

        p {
            font-family: $fontset2;
            font-size: 32px;
            color: $colorB;
            font-style: italic;
        }
    }
}

/* CARROUSEL BRANDING */

.slides-fl {
    background-color: $colorLG;
    padding-top: 50px;
    padding-bottom: 80px;
}


.carousel-indicators li {
    background-color: $colorLG;
}

.carousel-indicators .active {
    background-color: $colorLG;
}

.carousel-control-prev:hover {
    background-color: $colorDG;
    opacity: 0.1;
}

.carousel-control-next:hover {
    background-color: $colorDG;
    opacity: 0.1;
}

.carousel {
    overflow: hidden;
    border: none;
}

.carousel-inner {
    border-radius: 0px;
    background-color: $colorLG;


    .active {
        border-radius: 0px;
    }

    .d-block {
        border-radius: 0px;
    }
}

.inner-za {
    background-color: white;
}

/* EDITORIAL DESIGN */
.editorial {
    padding-top: 80px;
    padding-bottom: 80px;

    h3 {
        font-family: $fontset2;
        font-weight: 600;
        line-height: 1rem;
        text-align: center;
        font-size: 30px;
        color: $colorDG;
    }

    .image-lijn2 {
        padding-left: 8%;
        padding-right: 0%;
        margin-bottom: 20px;
    }


    .editorial-images {
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
        padding-bottom: 12px;
    }

    h4 {
        font-family: $fontset2;
        font-size: 24px;
        color: $colorB;
        font-style: italic;
        padding-top: 10px;
        margin-bottom: 8px;
    }

    p {
        font-family: $fontset2;
        font-size: 18px;
        color: $colorDG;
        line-height: 1.7rem;
    }

    h5 {
        font-family: $fontset2;
        font-size: 12px;
        color: $colorDG;
        line-height: 0.3rem;
        padding-bottom: 8px;
    }
}

@media(min-width:$breekpunt) {
    .editorial {

        h3 {
            font-size: 40px;
        }

        .image-lijn2 {
            padding-left: 22%;
            padding-right: 8%;
        }

        h4 {
            font-size: 26px;
        }

        p {
            font-size: 18px;
        }
    }
}

@media(min-width:$breekpuntsm) {
    .editorial {
        .image-lijn2 {
            padding-left: 32%;
            padding-right: 20%;
        }


        h4 {
            font-size: 26px;
        }

        p {
            font-size: 18px;
        }
    }
}

@media(min-width:$breekpuntmd) {
    .editorial {
        .image-lijn2 {
            padding-left: 36%;
            padding-right: 28%;
        }

        .image {
            padding-top: 24px;
        }
    }
}


@media(min-width:$breekpuntlg) {
    .editorial {
        .image-lijn2 {
            padding-left: 40%;
            padding-right: 30%;
        }

        .editorial-images {
            padding-top: 90px;
        }

        .image {
            display: block;
            width: 100%;
            height: auto;
            padding-bottom: 18px;
        }

        h4 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }
    }
}


/* GRAPHIC DESIGN */

.graphic {
    padding-top: 80px;
    padding-bottom: 80px;

    h3 {
        font-family: $fontset2;
        font-weight: 600;
        line-height: 1rem;
        text-align: center;
        font-size: 30px;
        color: $colorDG;
    }

    .image-lijn2 {
        padding-left: 10%;
        padding-right: 0%;
        margin-bottom: 20px;
    }

    .graphic-images {
        padding-top: 16px;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
        padding-top: 52px;
        padding-bottom: 12px;
    }

    p {
        font-family: $fontset2;
        font-size: 18px;
        font-style: italic;
        color: $colorDG;
        padding-bottom: 18px;
    }
}

@media(min-width:$breekpunt) {
    .graphic {

        h3 {
            font-size: 40px;
        }

        .image-lijn2 {
            padding-left: 27%;
            padding-right: 14%;
        }

        .graphic-images {
            padding-top: 20px;
        }

        p {
            font-size: 20px;
            padding-bottom: 20px;
        }
    }
}

@media(min-width:$breekpuntsm) {
    .graphic {
        .image-lijn2 {
            padding-left: 34%;
            padding-right: 22%;
        }

        p {
            font-size: 20px;
            line-height: 1.5rem;
        }
    }
}

@media(min-width:$breekpuntmd) {
    .graphic {
        .image-lijn2 {
            padding-left: 40%;
            padding-right: 30%;
            margin-bottom: 20px;
        }

        .graphic-images {
            padding-top: 40px;
        }

        p {
            font-size: 20px;
        }
    }
}


/* FOOTER */
.page-footer {
    background-color: $colorDG;
    padding-top: 10px;

    p {
        font-family: $fontset2;
        color: $colorW;
        font-size: 12px;
        padding-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
}

@media(min-width:$breekpunt) {
    .page-footer {
        p {
            font-size: 16px;
        }
    }
}

@media(min-width:$breekpuntsm) {
    .page-footer {
        padding-top: 25px;


        .img {
            height: 80px;
            width: auto;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 20px;
        }

        p {
            font-size: 16px;
            padding-bottom: 16px;
        }
    }
}

@media(min-width:$breekpuntmd) {
    .page-footer {
        .img {
            height: 84px;
            width: auto;
            padding-left: 10px;
            padding-top: 15px;
        }

        p {
            font-size: 18px;
        }
    }
}